.modal {
  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6a8;
    padding: 0 20px;
  }

  &__content {
    width: 100%;
    padding: 24px;
    background-color: var(--secondary-bg-color);
    border-radius: 12px;
  }

  &__title {
    margin-bottom: 16px;
  }
}
