.card {
  $root: &;

  position: relative;

  &_shifted {
    #{$root}__content {
      
    }

    #{$root}__actions {
      opacity: 1;
      transform: scale(100%);
    }

    #{$root}__movedWrapper {
      transform: translateX(-60px);
    }
  }

  &__movedWrapper {
    will-change: contents;
    display: flex;
    transition: all 0.2s;
  }

  &__content {
    width: 100%;
    padding: 16px;
    background-color: white;
    box-shadow: var(--box-shadow-1);
    border-radius: 12px;
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 8px;
    transition: all 0.2s;
    position: absolute;
    transform: scale(50%);
    left: calc(100% + 12px);
    opacity: 0;
  }

  &__header {
    margin-bottom: 12px;
  }

  &__title {
    margin: 0;
  }

  &__place {
    color: #5c5c5c;
    font-size: 0.8em;
  }
}
