.wrapper {
  display: flex;
  flex-direction: column;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 0.9em;
  padding: 0.7em 0.9em;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: var(--primary-input-bg-color);
  cursor: pointer;
}

.icon {
  color: var(--black-primary-text-color);
}

input { 
  width: 100%;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 1em;
  font-weight: 500;
  transition: border-color 0.25s;
  outline: none;

  &::placeholder {
    color: var(--primary-input-placeholder-color);
  }
}

.error {
  margin: 2px 0 0 4px;
  color: var(--error-text-color);
}
