.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.saveButton {
  margin-top: 12px;
}
