.wrapper {
  display: flex;
  flex-direction: column;
}

textarea {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.8em;
  font-size: 1em;
  font-family: inherit;
  background-color: var(--primary-input-bg-color);
  transition: border-color 0.25s;
  outline: none;

  &::placeholder {
    color: var(--primary-input-placeholder-color);
  }
}

.error {
  margin: 2px 0 0 4px;
  color: var(--error-text-color);
}
