.wrapper {
  padding: 32px 12px 16px;
  width: 100%;
}

.track {
  display: flex;
  justify-content: space-between;
  height: 4px;
  width: 100%;
  background-color: var(--primary-input-bg-color);
}

.mark {
  position: relative;

  &__number {
    position: absolute;
    bottom: 12px;
    left: -10px;
    display: flex;
    justify-content: center;
    width: 20px;
    font-size: 12px;
    color: var(--secondary-text-color);
  }
}

.thumb {
  $root: &;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;

  &_dragged {
    #{$root}__inner {
      width: 100%;
      height: 100%;
    }
  }

  &__inner {
    transition: all 0.1s;
    width: 16px;
    height: 16px;
    background-color: var(--primary-bg-color);
    border-radius: 50%;
  }
}
