.wrapper {
  background-color: var(--secondary-bg-color);
  height: 100vh;
}

.title {
  width: 100%;
  text-align: center;
}

.filters {
  display: flex;
  flex-direction: column;
  padding: 0 16px 16px 16px;

  &__search {
    padding: 1.1em;
    flex: 1;
    box-shadow: var(--box-shadow-1);
  }
}

.list {
  overflow: hidden;
  padding: 0 16px 80px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.panel {
  display: flex;
  justify-content: end;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
}
