:root {
  --primary-bg-color: #5e92d3;
  --white-primary-text-color: #f8fafd;
  --black-primary-text-color: #213547;
  --secondary-bg-color: #fafafa;
  --primary-border-color: #bfd2fa;
  --primary-input-bg-color: #e7f2fa;
  --primary-input-placeholder-color: #707070;
  --box-shadow-1: 0px 0px 4px 2px #fafafa;
  --secondary-text-color: #505050;
  --error-text-color: rgb(228, 59, 59);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
  text-transform: uppercase;
  margin: 0;
  padding: 1em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--black-primary-text-color);
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
