@mixin focusable {
  $width: 3px;

  box-shadow: 0px 0px 0px var(--primary-input-bg-color);

  &:focus,
  &:focus-visible {
    box-shadow:
      $width $width 0px var(--primary-border-color), 
      -#{$width} -#{$width} 0px var(--primary-border-color), 
      -#{$width} $width 0px var(--primary-border-color), 
      $width -#{$width} 0px var(--primary-border-color);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6em;
  padding: 0.6em 0.8em;
  padding-top: calc(0.6em + 2px);
  font-size: 1em;
  font-weight: 600;
  color: var(--white-primary-text-color);
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.25s ease-out;
  cursor: pointer;
  @include focusable();

  &_primary {
    background-color: var(--primary-bg-color);
  }

  &_secondary {
    background-color: var(--secondary-bg-color);
  }
}